{% extends 'layout.html' %}
{% block maincontent %}

<header>
    <h1>Welcome to the ML Based AMS Circuit Verification Package</h1>
</header>

<section>
    <h2>About</h2>
    <p>
        The ML Verification Package is a Python package designed to integrate various code components for ML-based verification of AMS circuits. It provides APIs for data processing, machine learning, prediction, evaluation, and feature extraction. The package aims to simplify the development and deployment of ML algorithms such as Multilayer Perceptron (MLP), Random Forest, and Long Short-Term Memory (LSTM) for AMS circuit verification.
    </p>
</section>

<section>
    <h2>Features</h2>
    <ul>
        <li>User-friendly GUI for data input and algorithm selection</li>
        <li>Data processing API for preparing input data</li>
        <li>Integration of machine learning algorithms (MLP, Random Forest, LSTM)</li>
        <li>Prediction API for making predictions on AMS circuits</li>
        <li>Evaluation API for assessing the performance of ML models</li>
        <li>Feature extraction API for extracting relevant features from datasets</li>
    </ul>
</section>

<section>
    <h2>Getting Started</h2>
    <p>
        To get started with the ML Verification Package, follow the installation instructions below:
    </p>

    <p>
        Once installed, you can import the package in your Python code and utilize its APIs for your ML-based AMS circuit verification tasks.
    </p>
</section>


{% endblock %}